body {
  background-image: url("../assets/images/wood.jpg");
  background-size: cover;
}

.cocktail-name {
  font-size: 32px;
  margin: 20px;
}

.coctail-buttons {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

th {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}

h1#question-text {
  margin: 30px;
  font-weight: bolder;
}

p#answers-text {
  margin: 50px;
  font-weight: bold;
}

div#team-buttons {
  display: flex;
  flex-direction: column;
}

/* div#team-buttons button {
  margin: 35px;
  width: 300px;
  height: 75px;
  background-color: lightblue;
  font-size: large;
  border-radius: 35px;
} */

.scores {
  margin: 200px;
}
