@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

body {
  background-image: url("../assets/images/wood-light-blur.jpg");
  background-size: cover;
}

.cocktail-name {
  font-size: 32px;
  margin: 20px;
}

.coctail-buttons {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

th {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}

h1#question-text {
  margin: 30px;
  font-weight: bolder;
}

p#answers-text {
  margin: 50px;
  font-weight: bold;
}

div#team-buttons {
  display: flex;
  flex-direction: column;
}

/* div#team-buttons button {
  margin: 35px;
  width: 300px;
  height: 75px;
  background-color: lightblue;
  font-size: large;
  border-radius: 35px;
} */

.scores {
  margin: 200px;
}

.hero-body.has-text-centered {
  display: flex;
  justify-content: space-around;
}

p.cocktails {
  display: inline-block;
  margin-top: 25px;
}

p.trivia-settings {
  display: inline-block;
  margin-top: 25px;
}

div#team-buttons button {
  margin: 15px;
  border-radius: 20px;
}

#score-box {
  font-size: 2em;
}

#score-box h1 {
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 1.5em;
}

.team-score-header {
  font-family: "Staatliches", cursive;
}
